<%- include('partials/header') %>

  <!-- Inicio NavBar -->
  <div class="w-full bg-black">
    <nav class="max-w-[1300px] h-[90px] mx-auto px-4 flex justify-between items-center text-white">
      <a href="/" class="flex hover:cursor-pointer">
        <p class="text-2xl">alta<span class="text-3xl text-red-500">GAMA</span>cars</p>
      </a>    
      <p class="text-2xl font-bold text-white">Bienvenido/a <%= user.nombre  %></p>      
      <ul class="flex items-center mr-2 space-x-4">
        <li class="w-[45px] h-[45px] relative group">
          <img class="border-2 border-red-500 hover:border-white duration-300 z-20 w-full h-full rounded-full object-cover hover:cursor-pointer" 
              src="<%= user.foto %>" alt="User Image">
            
          <ul class="bg-black text-white absolute right-0  w-[120px] rounded-lg  border-b border-l border-r border-white overflow-hidden  hidden group-hover:block duration-300">
            <li class="py-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/api/carrito">Mi Carrito</a>
            </li>
            <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">              
              <a href="/api/compras/myCompras">Mis Compras</a>
            </li>
            <% if (user.isAdmin === 'S') { %>
              <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500 flex items-center space-x-2">
                <img class="w-[25px] object-cover" src="./images/aaa.png" 
                    alt="Settings Icon">
                <p>Admin</p>
              </li>
            <% } %>
            <li class="pb-1 text-lg font-bold hover:cursor-pointer px-2 hover:bg-red-500">
              <a href="/logout">Logout</a>
            </li>            
          </ul>  
        </li> 
        <li>
          <% if (user.isAdmin === 'S') { %>        
            <a href="#">
              <div class="w-[45px] h-[45px]">
                <img class="border-2 border-red-500 hover:border-white duration-300 z-20 w-full h-full rounded-full object-cover hover:cursor-pointer" 
                src="https://cdn-icons-png.flaticon.com/512/428/428553.png" alt="User Image">              
              </div>
            </a>
          <% } %>
        </li>      
      </ul>  
      <!-- <div class="flex items-center space-x-2">
        <a href="/api/carrito" class="relative">
          <img class='[25px] h-[25px]' src="./images/cart-icon.png" alt="Cart">
          <div class="p-3 absolute -right-2 -top-2 bg-blue-500/90 rounded-full  h-[17px] w-[17px] flex items-center justify-center">
            <p id="cart_quantity" class="text-white font-bold"></p>
          </div>
        </a>
        <a class='text-xl font-bold hover:text-gray-600' href="/logout">
          <div class='w-[45px] h-[45px] duration-300 flex justify-center items-center'>
            <img class='w-[25px] h-[25px]' src="./images/close-session.png" alt="Close">
          </div>
        </a>
        <% if (user.isAdmin === 'S') { %>        
          <a href="#">
            <img class='w-[50px] h-[50px] object-contain' src="./images/profile.png" alt="Profile">
          </a>
        <% } %>
      </div> -->
    </nav>
  </div>
  <!-- Fin NavBar -->

  <div class="max-w-[1300px] mx-auto mt-8 px-4">
    <div class="w-full text-center">
      <p class="text-3xl font-bold uppercase pb-2 text-white">Mis Compras</p>      
      <div class="w-full h-[2px] bg-red-200"></div>
    </div>

    <div class="w-full h-[700px] py-2 flex">
      <!-- Lista de Compras -->
      <div class="w-[65%] h-[700px] bg-red-500"></div>

      <!-- Detalle de la Compra -->
      <div id="compra_detail" class="w-[35%] h-[700px] bg-blue-500"></div>

    </div>
  </div>
  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>      
  <script>
    /* Acá pongo el cód JAVASCRIPT ya que no se porque motivo no me funcionan las rutas */
    
  </script>
</body>
</html>