<%- include('partials/header') %>

  <nav class="max-w-[1300px] h-[90px] mx-auto px-4 flex justify-between items-center text-white">
    <div class="flex">
      <img class="w-[60px]" src="./images/logo.png" alt="Logo Ecommerce">      
    </div>
    <div>
      <p class='text-3xl font-bold hover:text-gray-600 uppercase'>Ferrari STORE</p>
    </div>
    <div>
      <a class='text-xl font-bold hover:text-gray-600' href="/register">REGISTER</a>
    </div>
  </nav>

  <div class="max-w-[1300px]  mx-auto px-4 mt-20">
    <div class="w-full text-center">
      <p class="text-4xl text-white">LOGIN</p>
    </div>

    <form action="/login" method="POST" class="max-w-[400px] mx-auto py-4">    
      <div class="flex py-3 items-center">
        <label class='w-[80px] font-bold text-end mr-2 text-white' for="email">Email</label>
        <input class='flex-1 p-2' type="text" name="email" id="email">
      </div>
      <div class="flex py-3 items-center">
        <label class='w-[80px] font-bold text-end mr-2 text-white' for="password">Password</label>
        <input class='flex-1 p-2' type="password" name="password" id="password">
      </div>      
      <div class="w-[40%] mx-auto py-6">
        <input class='w-full bg-white text-black rounded-lg py-2 hover:cursor-pointer hover:text-yellow-500 hover:shadow-lg' type="submit" value="Log In">
      </div>      
      <div class="w-[60%] mx-auto py-2 text-lg font-bold">
        <% if (messages.error) { %>
        <%= messages.error %> 
        <% } %>
      </div>
    </form>
  </div>  
</body>
</html>